.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    
}

.page-button {
    display: inline-block; 
    text-decoration: none; 
    color: #120a25;
    background: #f8f9fa;
    font-size: 1rem;
    border: 1px solid #aaaaaa;
    padding: 12px 40px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}


.page-button:hover{
    background-color: #dedede;
}

.actual {
    background: #120a25; 
    color: white;
    cursor: default;
    border: 1px solid #120a25;
}

@media (max-width:600px) {
  .page-button{ width: 23%;
    height: 2.5rem;
    font-size: 0.8rem;
padding: 5px 5px;
font-weight: 500;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}  
.actual{
    width: 31%;
    height: 3rem;
    font-weight: 600;
}
}
.actual:hover {
    background: #120a25;
}

.title {
    text-align: center;
    margin-top: 20px;       
    margin-right: 10px; 
    margin-left: 10px;   
}