/* Obligatoire pour que le calcul de hauteur fonctionne */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Toute la hauteur de l'écran */
}

/* Le main va s'étirer pour combler le vide */
main {
    flex: 1;
}

